.catalog-button__icon {
  background-image: url(../../../images/catalog_icon_full.svg);
  width: 15.77px;
  height: 14.78px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 17px;
  transition: 0.2s ease-in-out;
}


@media screen and (max-width:600px)
{
  .catalog-button__icon {
    background-image: url(../../../images/catalog_icon_condensed.svg);
    width: 20px;
    height: 14px;
    margin-left: 0;
  }
}
