.nav-link-block__item {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-right: 16px;
  color: #4A4A4A;
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in-out;
}


.nav-link-block__item:last-of-type {
  margin-right: 0;
}


.nav-link-block__item:hover::after {
  width: 100%;
}

.nav-link-block__item:hover {
  opacity: 0.8;
}

.nav-link-block__item::after {
  content: '';
  background-color:  #FFCC00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0px;
  transition: 0.2s ease-in-out;
  left: 0;
}
